kafka-python==2.0.2; python_version < '3.12'
kafka-python @ git+https://github.com/dpkp/kafka-python.git ; python_version >= '3.12'
numpy==1.26.0
pandas==2.2.3
Flask==2.3.2
pytest==8.3.3
requests==2.32.3
surprise==1.1.1
mlflow==2.18.0
prometheus_flask_exporter
matplotlib
seaborn
